@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');



*{
      margin: 0;
      padding: 0;
}

.sidebar{
     background-color: rgb(223, 220, 220);
     width: 434px;
     font-family: 'Fira Sans', sans-serif;
     height: 120vh;

 }

.sidebar  nav {
    padding: 45px;
}

.sidebar  nav  li {
    list-style-type: none;
    font - size: 30px;
    padding:  33px  0;
}
.sidebar nav li  a{
    text-decoration: none;
    color: black;
    
}
 
.main{
     background-color:
     width:  90vw;
}

.container{
      display: flex;
}

.infocontainer{
    background-color: ;
    height: 78vh;
    width: 80vw;
    margin: 144px  auto; 
    display: flex;
    justify-content: space-around;
}

.divinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 45px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 30px;
    padding: 15px;
}
.moreabout{
   padding: 5pxs;
   font-size: 15px;
   font-family: cursive;
}

.btn{
    padding: 9px  14px;
    border-radius: 22px ;
    color: white ;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 15px;
    margin: 0  3 px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;
}
.btn-sm{
    font-size: 10px;
    padding: 8px 13px;
    margin: 10px 0;
}
.divpic img{
    width: 370px ;
    padding: 50px;
}

 .contactform{
    font-family: 'Fira Sans', sans-serif;
    padding:0 34px;
    padding-top: 144px;
 }

 .contactform h1{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
 }

 .contactform form div{
    padding: 20px  0;
    display: flex;
     flex-direction: column;
 }
 .contactform form div input{
    width: 25vw;
        border-radius: 5px;
        margin: 6px 0 0 0;
        padding: 3px;
    
 }
 #emailHelp{
    font - size: 11px;
    color: midnightblue;
    margin: 0 5px;
 }

  #form-check{
    flex-direction: row;
  }

 #form-check input{
    width: 24px;
       margin: 3px  0;
 }
 .blogitem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
 }

  h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
 }
 p{
    font-family: 'Source Code Pro', monospace;
 }

 .intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
 }

 .intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
 }

 .skilcontainer{
    padding: 12px;
 }
 .skillitem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
 }
 .skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
 }
 .hundred{
    width: 265px;
    background-color: blueviolet;
 }
 .fifty{
    width: 125px;
    background-color:aqua;
 }
 .t5{
    width: 75px;
    background-color: yellow;
 }

 @media (max-width:1245px) { */
   *{
   /* background-color: red; */
   }
   
 }
 